{% extends 'pDevPracticasBundle::layout.html.twig' %}

{%block breadcrumb%}
    {{parent()}}
    <li class="active"><a href="{{ path('practicas_supervisor') }}">Supervisores</a></li>
{%endblock%}


{%block header%}Supervisores{%endblock%}
{%block lead%}{%endblock%}

{% block content %}
    <div id="form_ordenar" class="well clearfix" style="margin:0">
        <div class="btn-group">
            <a href="{{ path('practicas_supervisor_new') }}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Crear supervisor</a>
        </div>
    </div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th{% if pagination.isSorted('s.apellidoPaterno') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nombres', 's.apellidoPaterno') }}</th>
                <th{% if pagination.isSorted('s.rut') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'RUT', 's.rut') }}</th>
                <th{% if pagination.isSorted('s.email') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nombres', 's.email') }}</th>
                <th{% if pagination.isSorted('s.apellidoP') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Cargo', 's.cargo') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td>{{ entity.nombres }} {{ entity.apellidoPaterno }} {{ entity.apellidoMaterno }}</td>
                <td>{{ entity.rut }}</td>
                <td>{{ entity.email }}</td>                
                <td>{{ entity.cargo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('persona_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('persona_edit', { 'idPersona': entity.id }) }}" class="onmodal">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan=5>
                    <div class="text-center">No se encontraron supervisores</div>                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
