{% extends 'pDevPracticasBundle::layout.html.twig' %}

{%block breadcrumb%}
{{parent()}}
                
{%endblock%}


{%block header%}Prácticas{%endblock%}
{%block lead%}Periodo académico {%endblock%}

{%block content %}
    <h1>Supervisor creation</h1>

    <form action="{{ path('practicas_supervisor_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('practicas_supervisor') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
