{% extends 'pDevPracticasBundle::layout.html.twig' %}

{%block breadcrumb%}
{{parent()}}
                
{%endblock%}

{%block header%}Editar evaluación{%endblock%}
{%block lead%}Periodo académico {%endblock%}

{%block content %}
    <h1>Evaluacion edit</h1>
    <form class="well form-horizontal" action="{{ path('practicas_evaluacion_profesor_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        
        <h3>Criterios</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Criterio</th>
                    <th>Evaluación</th>
                </tr>
            </thead>
            <tbody>
            {% for criterio in edit_form.criterios %}
                <tr>
                    <td>
                        <strong>{{ criterio.vars.value.criterioTipo.nombre }}</strong><br>
                        {{ criterio.vars.value.criterioTipo.explicacion }}
                    </td>
                    <td>{{ form_widget(criterio) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        {{ form_rest(edit_form) }}
        <button class="btn btn-primary pull-right" type="submit">Guardar</button>
        <div class="clearfix"></div>
    </form>
    
    <ul class="record_actions">
        <li>
            <a href="{{ path('practicas_evaluacion_show', {'id': entity.id}) }}">
                Volver
            </a>
        </li>
    </ul>
{% endblock %}
