{% extends 'pDevPracticasBundle::layout.html.twig' %}

{%block breadcrumb%}
{{parent()}}
                <li class="active"><a href="{{ path('practicas_organizacion') }}">Organizaciones</a></li>
{%endblock%}


{%block header%}Organizaciones{%endblock%}
{%block lead%}{%endblock%}

{%block content %}

    <div id="form_ordenar" class="well no-margin">
        <div class="btn-group">
            <a href="{{ path('practicas_organizacion_new') }}" class="pull-left btn btn-primary"><span class="glyphicon glyphicon-certificate"></span> Registrar organización</a>        
            {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('practicas_excel') }}" class="pull-left btn btn-primary"><span class="glyphicon glyphicon-file"></span> Exportar</a>{% endif %}
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th {% if pagination.isSorted('a.nombre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nombres', 'a.nombre') }}</th>
                <th {% if pagination.isSorted('o.rut') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'RUT', 'o.rut') }}</th>
                <th {% if pagination.isSorted('o.rubro') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Rubro', 'o.rubro') }}</th>                
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td>{% for alias in entity.aliases %}{{ alias.nombre }}<br/>{% endfor %}</td>
                <td>{{ entity.rut }}</td>
                <td>{{ entity.rubro }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('practicas_organizacion_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('practicas_organizacion_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan=5>
                    <div class="text-center">No se encontraron organizaciones</div>                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
