{% extends 'pDevPracticasBundle::layout.html.twig' %}

{%block breadcrumb%}
{{parent()}}
                <li><a href="{{ path('practicas_organizacion_new') }}">Registrar organizaci贸n</a></li>
{%endblock%}


{%block header%}Registrar organizaci贸n{%endblock%}
{%block lead%}Por favor complete la informaci贸n de la nueva organizaci贸n{%endblock%}

{%block content %}
    <form class="form-well form-horizontal" action="{{ path('practicas_organizacion_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_rest(form) }}
        <p class="pull-right">
            <button class="btn btn-primary" type="submit">Registrar</button>
        </p>
        <div class="clearfix"></div>
    </form>
{% endblock %}

{% block javascriptload%}
<script type="text/javascript">
    
    var input_name = $('input#pdev_practicasbundle_organizaciontype_nombre');
    var source_url = '{{ path('practicas_organizacion_find') }}';
    var fillable_base = 'pdev_practicasbundle_organizaciontype_';   
    
    p_setTypeahead(input_name,source_url,fillable_base);
    
    </script>
{% endblock %}
