{% extends 'pDevPracticasBundle::layout.html.twig' %}

{%block breadcrumb%}
{{ parent()}}
    <li><a href="{{ path('practicas_organizacion_new_practica') }}">Registrar organizaci贸n</a></li>
{%endblock%}


{%block header%}Registrar organizaci贸n{%endblock%}
{%block lead%}Por favor complete la informaci贸n de la nueva organizaci贸n{%endblock%}

{%block content %}
    <form action="{{ path('practicas_organizacion_create_practica') }}" method="post" {{ form_enctype(form) }}>
        {{ form_rest(form) }}
        <p class="pull-right">
            <button class="btn btn-primary" type="submit">Registrar</button>
        </p>
        <div class="clearfix"></div>
    </form>
{% endblock %}
