<div class="modal-dialog">
    <div class="modal-content">
    <form id="formContacto" class="form-horizontal form-small form-well" action="{{ path('practicas_organizacion_remove_contacto', {'id': entity.id, 'contactoId': contacto.id }) }}" method="post" {{ form_enctype(delete_form) }}>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Borrar contacto</h4>
        </div>
        <div class="modal-body">
            ¿Está seguro en eliminar al contacto {{ contacto }} de la organización "{{ entity }}"?
            {{ form_widget(delete_form) }}
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger">Borrar</button>
        </div>
    </form>
    </div>
</div>
