{% extends 'pDevPracticasBundle::layout.html.twig' %}

{%block breadcrumb%}
{{parent()}}
                
{%endblock%}

{% block styles %}
    {{ parent() }}
    <link href="{{ asset('/css/typeahead.css') }}" rel="stylesheet">
{% endblock %}

{%block header%}Organización "{{ entity.aliases|first }}" {%endblock%}
{%block lead%}{%endblock%}

{% block sidebar %}
    <div id="form_ordenar" class="well clearfix" style="margin:0">
        {% if permiso %}
        <a href="{{ path('practicas_organizacion_edit', { 'id': entity.id }) }}"  class="pull-left btn btn-primary">
            <span class="glyphicon glyphicon-edit"></span> Modificar
        </a>
        {% endif %}
        <a href="{{ path('practicas_new_organizacion', {'id': entity.id}) }}"  class="pull-left btn btn-primary">
            <span class="glyphicon glyphicon-plus-sign"></span> Solicitar practicante
        </a>
    </div>
{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th width="30%">Nombres asociados</th>
                <td>
                    {% for alias in entity.aliases %}
                        {{ alias.nombre }}<br>
                    {% endfor%}
                </td>
            </tr>
            <tr>
                <th>RUT organización</th>
                <td>{{ entity.rut }}</td>
            </tr>
            <tr>
                <th>Rubro</th>
                <td>{{ entity.rubro }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>País</th>
                <td>{{ entity.pais }}</td>
            </tr>
            <tr>
                <th>Dirección web</th>
                <td><a href="{{ entity.web }}">{{ entity.web }}</a></td>
            </tr>
            <tr>
                <th>Número de personas que trabajan en la organización</th>
                <td>{{ entity.personasTotal }}</td>
            </tr>
            <tr>
                <th>Antiguedad</th>
                <td>{{ entity.antiguedad }}</td>
            </tr>
        </tbody>
    </table>

    <h4>Contactos asociados
        {% if permiso %}<a class="onmodal" href="{{ path('practicas_organizacion_add_contacto', {'id': entity.id }) }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>{% endif %}
    </h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Rut</th>
                <th>Email</th>
                <th>Área</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for contacto in entity.contactos %}
            <tr>
                <td>{{ contacto.nombreCompleto }}</td>
                <td>{{ contacto.rut }}</td>
                <td>{{ contacto.email }}</td>                
                <td>{{ contacto.area }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('persona_show', { 'id': contacto.id, 'tipo':'contacto' }) }}">Ver</a>
                    </li> 
                    {% if contacto.usuario.id != app.user.id %}
                    <li>
                        <a class="onmodal" href="{{ path('practicas_organizacion_remove_contacto', { 'id': entity.id, 'contactoId': contacto.id }) }}">Borrar</a>
                    </li>                   
                    {% endif %}
                </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan=5>
                    <div class="text-center">No se encontraron contactos</div>                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <h4>Supervisores asociados
        {% if permiso %}<a class="onmodal" href="{{ path('practicas_organizacion_add_supervisor', {'id': entity.id }) }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>{% endif %}
    </h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Rut</th>
                <th>Email</th>
                <th>Cargo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for supervisor in entity.supervisores %}
            <tr>
                <td>{{ supervisor.nombreCompleto }}</td>
                <td>{{ supervisor.rut }}</td>
                <td>{{ supervisor.email }}</td>                
                <td>{{ supervisor.cargo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('persona_show', { 'id': supervisor.id,'tipo':'supervisor' }) }}">Ver</a>
                    </li> 
                    {% if supervisor.usuario.id != app.user.id %}
                    <li>
                        <a class="onmodal" href="{{ path('practicas_organizacion_remove_supervisor', { 'id': entity.id, 'supervisorId': supervisor.id }) }}">Borrar</a>
                    </li>                   
                    {% endif %}                   
                </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan=5>
                    <div class="text-center">No se encontraron supervisores</div>                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts combine=true
        '@typeahead_js' 
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript" src="{{ asset('/js/handlebars-v2.0.0.js') }}"></script>
{% endblock %}
