{% extends 'pDevPracticasBundle::layout.html.twig' %}
        
{%block breadcrumb%}
    {{parent()}}
{%endblock%}

{%block header%}Plan de práctica{%endblock%}
{%block lead%}2 de 4: Detalles de la práctica{%endblock%}

{%block content %}
    <form id="form_alumno_practica" class="form-well form-horizontal" action="{{ ruta }}" method="post" {{ form_enctype(form) }}>
        {% if entity.practica %}    
           <div class="alert alert-info" role="alert">
            Postulando a <strong>{{ entity.practica.organizacion }}</strong><br>
            Supervisor: {{ entity.supervisor }}<br>
            Fecha de inicio: {{ entity.practica.fechaInicio|date('d-m-Y') }}<br>
            Duración: {{ entity.duracionCantidad }} {{ entity.duracionUnidad }}<br>
            Tipo de práctica: {{ entity.tipo }}<br>
           </div>
        {% elseif entity.organizacion %}
            <div class="alert alert-info" role="alert">
            Postulando a <strong>{{ entity.organizacion }}</strong><br>
            Supervisor: {{ entity.supervisor }}<br>
           </div>
           {% if form.tipo is defined %}
            {{ form_row(form.tipo) }}
           {% endif %}
           {{ form_row(form.comoContacto) }}
           {{ form_row(form.fechaInicio) }}
           {{ form_label(form.duracionCantidad) }}<br>
           {{ form_widget(form.duracionCantidad) }}{{ form_widget(form.duracionUnidad) }}
           <div id="endDate"></div>
        {% else %}
            {% if form.tipo is defined %}
            {{ form_row(form.tipo) }}
            {% endif %}
            {{ form_row(form.organizacion) }}
        {% endif %}
        
        <div id="horario" class="row" style="display:none; margin-top:23px; ">
            <div class="col-md-4">
                <label for="pdev_practicasbundle_alumnopracticantetype_horasLunes" class="control-label" style="text-align: left !important;">
                    <h4>Estimador de horas </h4>
                    <small>Requiere como mínimo 240 horas</small>
                    <abbr title="Mínimo: 2 veces a la semana. Máximo: 5 veces a la semana. Mínimo diario: 4 horas. Máximo diario: 8 horas." class="tooltip-append" title=""><span class="glyphicon glyphicon-question-sign"></span></abbr>
                </label>
                <div class="controls">
                    <table>
                        <tr>
                            <th>Lun</th>
                            <th>Mar</th>
                            <th>Mié</th>
                            <th>Jue</th>
                            <th>Vie</th>
                            <th>Sáb</th>
                            <th>Horas</th>
                        </tr>
                        <tr>
                            <td>{{ form_widget(form.horasLunes) }}</td>
                            <td>{{ form_widget(form.horasMartes) }}</td>
                            <td>{{ form_widget(form.horasMiercoles) }}</td>
                            <td>{{ form_widget(form.horasJueves) }}</td>
                            <td>{{ form_widget(form.horasViernes) }}</td>
                            <td>{{ form_widget(form.horasSabado) }}</td>
                            <td id="totalHoras"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-8">
                <h4>Requisitos</h4>
                <ul id="requisitos" class="list-unstyled">
                    <li id="minimo">Hay dos días con 4 horas de trabajo</li>
                    <li id="maximo">Ningún día supera las 8 horas</li>
                    <li id="total">Cumple con 240 horas</li>
                </ul>
            </div>
        </div>
        
        <hr/>
        
        <h4>Datos del alumno</h4>
        {{ form_row(form.ultimoTaller) }}
        {{ form_row(form.ultimoTallerProfesor) }}
        <hr/>
        
        {% if form.supervisor is defined %}
        <h4>Datos del supervisor</h4>
        {{ form_row(form.supervisor) }}
        <hr/>
        {% endif %}
        
        <h4>Proyectos y responsabilidades (en acuerdo con el empleador)
            <abbr title="Mínimo: 3. Máximo: 5" class="tooltip-append" title=""><span class="glyphicon glyphicon-question-sign"></span></abbr>
        </h4>
        <table id="proyectos" class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th class="add" width="30px"></th>
                </tr>
            </thead>
            <tbody data-prototype="{% filter escape %}{% include 'pDevPracticasBundle:Proyecto:prototype.html.twig' with {'form': form.proyectos.vars.prototype} %}{% endfilter %}">
                {% for proyecto in form.proyectos %}
                <tr class="proyecto">
                    <td>{{ form_widget(proyecto.nombre) }}</td>
                    <td>{{ form_widget(proyecto.descripcion) }} {{ form_rest(proyecto) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr/>
        
        <h4>Desafíos personales que desea lograr el alumno 
        <abbr title="5 desafíos." class="tooltip-append" title=""><span class="glyphicon glyphicon-question-sign"></span></abbr>
        </h4>
        <table id="desafios" class="table table-bordered">
            <thead>
                <tr>
                    <th>Desafío</th>
                    <th class="add" width="30px"></th>
                </tr>
            </thead>
            <tbody data-prototype="{% filter escape %}{% include 'pDevPracticasBundle:Desafio:prototype.html.twig' with {'form': form.desafios.vars.prototype} %}{% endfilter %}">
                {% for desafio in form.desafios %}
                <tr class="desafio">
                    <td>{{ form_widget(desafio.descripcion) }} {{ form_rest(desafio) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {{ form_rest(form) }}
        <p>
            <button class="btn btn-primary pull-right" type="submit"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Guardar y continuar: Carta gantt</button>
        </p>
        <div class="clearfix"></div>
    </form>
    
{% endblock %}

{% block javascriptload %}
    <script type="text/javascript">
    
        var fields = [];
        var horas = [];
        var cumple = false;
        var divPosition = $("#endDate").offset();
        
        horas[1] = $('#pdev_practicasbundle_alumnopracticantetype_horasLunes');
        fields.push(horas[1]);
        horas[2] = $('#pdev_practicasbundle_alumnopracticantetype_horasMartes');
        fields.push(horas[2]);
        horas[3] = $('#pdev_practicasbundle_alumnopracticantetype_horasMiercoles');    
        fields.push(horas[3]);
        horas[4] = $('#pdev_practicasbundle_alumnopracticantetype_horasJueves');    
        fields.push(horas[4]);
        horas[5] = $('#pdev_practicasbundle_alumnopracticantetype_horasViernes');    
        fields.push(horas[5]);
        horas[6] = $('#pdev_practicasbundle_alumnopracticantetype_horasSabado');
        fields.push(horas[6]);
        
        {% if entity.practica == null %}
        var fechaIn = $('input#pdev_practicasbundle_alumnopracticantetype_fechaInicio');
        fields.push(fechaIn);
        var duracionCantidad = $('input#pdev_practicasbundle_alumnopracticantetype_duracionCantidad');    
        fields.push(duracionCantidad);
        var duracionUnidad = $('#pdev_practicasbundle_alumnopracticantetype_duracionUnidad');    
        fields.push(duracionUnidad);
        {% endif %}
        
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<a class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Agregar proyecto</a>');
        var $addTagLink2 = $('<a class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Agregar desafío</a>');
        $('#proyectos .add').append($addTagLink);
        $('#desafios .add').append($addTagLink2);
        
        function addForm($collectionHolder) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<tr></tr>').append(newForm);
            $collectionHolder.append($newFormLi);
            
            addTagFormDeleteLink($newFormLi);
        }
        
        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<td><a href="#" class="btn btn-small pull-right" style="margin-top:5px;">eliminar</a></td>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

        jQuery(document).ready(function() {
            $collectionHolder = $('#proyectos > tbody');
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            
            $collectionHolder2 = $('#desafios > tbody');
            $collectionHolder2.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                if($collectionHolder.find(':input').length<9)
                    addForm($collectionHolder);
            });
            
            $collectionHolder.find('tr.proyecto').each(function() {
                //addTagFormDeleteLink($(this));
            });
            
            $addTagLink2.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addForm($collectionHolder2);
            });
            
            $collectionHolder2.find('tr.desafio').each(function() {
                //addTagFormDeleteLink($(this));
            });
            
            $.each(fields,function() {
                $(this).change(function() {
                    calculateTotal();
                });
            });
            
            calculateTotal();
            
            $(".date").each(function( index ) {
                $(this).datetimepicker({
                  pickTime: false
                }).on('dp.change', function(ev){
                    calculateTotal();
                    desplegarHorario();
                });

            });
            
            // Cambio de horarios
            $("#pdev_practicasbundle_alumnopracticantetype_duracionCantidad").change(desplegarHorario);
            $("#pdev_practicasbundle_alumnopracticantetype_duracionUnidad").change(desplegarHorario);
            desplegarHorario();
        });
        
        var desplegarHorario = function () {
            {% if entity.practica %}
            var val1 = parseDate("{{ entity.practica.fechaInicio|date('d-m-Y') }}");
            var val2 = {{ entity.duracionCantidad }};
            {% else %}
            var val1 = fechaIn.val();
            var val2 = $("#pdev_practicasbundle_alumnopracticantetype_duracionCantidad").val();
            {% endif %}
            
            if(val1 != "" && val2 != "" && val2 != 0)
                $("#horario").show();   
            else
                $("#horario").hide();  
        };
        
        function calculateTotal()
        {
            {% if entity.practica %}
            var darr = daysBetween(parseDate("{{ entity.practica.fechaInicio|date('d-m-Y') }}"), {{ entity.practica.duracionCantidad }}, '{{ entity.practica.duracionUnidad }}');
            {% else %}
            var darr = daysBetween(parseDate(fechaIn.val()), duracionCantidad.val(), duracionUnidad.val());
            {% endif %}
            
            var dias = [];
            var total = 0, minimos = 0, maximos = 0;
            
            for(var i=1;i<7;i++)
            {
                dias[i] = parseInt(horas[i].val()) * parseInt('0'+darr[i]);
                total += dias[i];
                
                if(parseInt(horas[i].val()) >= 4)
                    minimos++;
                if(parseInt(horas[i].val()) > 8)
                    maximos++;
            }
            console.log(maximos);
            
            // Chequeamos restricciones
            cumple = true;
            $("#requisitos").find('span').remove();
                        
            // Revisa si hay al menos dos dias con 4 horas 
            if(minimos >= 2)
                $('#minimo').prepend('<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>');
            else{
                $('#minimo').prepend('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>');
                cumple = false;
            }
            
            // Revisa si todos los días son menores de 8 horas de trabajo
            if(maximos == 0)
                $('#maximo').prepend('<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>');
            else{
                $('#maximo').prepend('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>');
                cumple = false;
            }
            
            // Revisa si cumple el mínimo de horas
            if(total >= 240)
                $('#total').prepend('<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>');
            else{
                $('#total').prepend('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>');
                cumple = false;
            }
            
            $('#totalHoras').html('<strong> = '+total+'</strong>');
            
            return total;
        }
        
        function daysBetween(startDate, duracionCantidad, duracionUnidad) 
        {
            var days = [], current = startDate, endDate = startDate;
            
            if(duracionUnidad == "días")
                endDate = new Date(startDate.getTime() + duracionCantidad * (24 * 60 * 60 * 1000));
            else if(duracionUnidad == "semanas")
                endDate = new Date(startDate.getTime() + 7 * duracionCantidad * (24 * 60 * 60 * 1000));
            else if(duracionUnidad == "meses")
                endDate = new Date(startDate.getTime() + 30 * duracionCantidad * (24 * 60 * 60 * 1000));
            
            while(current <= endDate) {
                if(days[current.getDay()] == undefined)
                    days[current.getDay()] = 1;
                else
                    days[current.getDay()]++;
                current = new Date(current.getTime() + (24 * 60 * 60 * 1000));
                
            }
            
            if(isNaN(endDate.getTime()) === false)
                $("#endDate").html("Fecha estimada de término: " + endDate.toLocaleDateString());
            
            return days;
        }
        
        function parseDate(datestr)//dd-mm-yyyy
        {
            var datearr = datestr.split('-');
            return new Date(parseInt(datearr[2]), parseInt(datearr[1]-1), parseInt(datearr[0]));
        }
        
        // Validador
        $("#form_alumno_practica").submit(function(event) {
            if(cumple === true) {
                return;
            }
            $("#requisitos").focus();
            $('html, body').animate({scrollTop: divPosition.top}, "slow");
            event.preventDefault();
        });
    </script>
{% endblock %}
