{% extends 'pDevPracticasBundle::layout.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/jquery-ui.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/gantt/jquery.ganttView.css') }}" />
{% endblock %}        

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('/externals/gantt/lib/date.js') }}"></script>   
    <script type="text/javascript" src="{{ asset('/externals/vendor/jquery-ui-1.11.0.min.js') }}"></script>     
    <script type="text/javascript" src="{{ asset('/externals/gantt/jquery.ganttView.js') }}"></script>        
    <script type="text/javascript" src="{{ asset('/externals/self/pdev.submit.js') }}"></script>      
{% endblock %}
        
{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block header%}Plan de pr치ctica{%endblock%}
{% block lead%}2 de 3: Carta gantt{%endblock%}

{% block content %}
    
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="alert-heading"><span style="color: #0F6DAF">Informaci칩n</span></h4>
      <p>Las modificaciones que realice en esta carta gantt, quedan inmediatamente guardadas.</p>
    </div>

    <div id="ganttChart" style="background-color: white;margin:auto;"></div>
    <div id="eventMessage" class="text-center" style="height: 50px;vertical-align: middle"></div>
    
    <div class="well">
        <p>
            <a href="{{ path('practicas_alumno_edit_datos', {'id': entity.id})}}" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Anterior: Detalles de la pr치ctica</a>        
            <a href="{{ path('practicas_alumno_gantt_create', {'id': entity.id}) }}" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Enviar para aprobaci칩n</a>        
        </p>
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block javascriptload %}
    {{ parent() }}
    <script type="text/javascript">
        
        function p_gantt_redraw()
        {
            var dinwidth = $('.container').innerWidth() - 510;
            $("#ganttChart").empty();
            $("#ganttChart").ganttView({
                dataUrl: Routing.generate('practicas_alumno_gantt_json', { id: {{ entity.id }} }),
                slideWidth: dinwidth,
                behavior: {
                    onClick: function (data) {
                        var msg = "You clicked on an event: { start: " + data.start.toString("d-M-yyyy") + ", end: " + data.end.toString("d-M-yyyy") + " }";
                        $.post(Routing.generate('practicas_alumno_tarea_edit_json', { id: data.idTarea }), {start: data.start.toString("d-M-yyyy"), end: data.end.toString("d-M-yyyy")} );
                        //$("#eventMessage").text(msg);
                    },
                    onResize: function (data) {
                        var msg = "You resized an event: { start: " + data.start.toString("d-M-yyyy") + ", end: " + data.end.toString("d-M-yyyy") + " }";
                        $.post(Routing.generate('practicas_alumno_tarea_edit_json', { id: data.idTarea }), {start: data.start.toString("d-M-yyyy"), end: data.end.toString("d-M-yyyy")} );
                        //$("#eventMessage").text(msg);
                    },
                    onDrag: function (data) {
                        var msg = "You dragged an event: { start: " + data.start.toString("d-M-yyyy") + ", end: " + data.end.toString("d-M-yyyy") + " }";
                        $.post(Routing.generate('practicas_alumno_tarea_edit_json', { id: data.idTarea }), {start: data.start.toString("d-M-yyyy"), end: data.end.toString("d-M-yyyy")} );
                        //$("#eventMessage").text(msg);
                    },
                    editable: true,
                    clickable: true,
	                draggable: true,
	                resizable: true,
                }
            });

            //$("#ganttChart").ganttView("setSlideWidth", 510);
        }

        p_gantt_redraw();

        function p_gantt_task_edit(proyecto, task)
        {
            //alert('editar: '+proyecto+','+task);
            var edit_url = Routing.generate('practicas_alumno_tarea', { idProyecto: proyecto , idTarea: task});
            p_getOnModal(edit_url);
        }

        function p_gantt_task_add(proyecto)
        {
            var add_url = Routing.generate('practicas_alumno_tarea', { idProyecto: proyecto , idTarea: 'new'});
            p_getOnModal(add_url);
        }

        function p_gantt_task_remove(proyecto, task)
        {
            var remove_url = Routing.generate('practicas_alumno_tarea', { idProyecto: proyecto , idTarea: task});
            p_getOnModal(remove_url);
        }
            
    </script>
{% endblock %}
