{% extends 'pDevPracticasBundle::layout.html.twig' %}

{%block breadcrumb%}
    {{ parent() }}
    <li class="active"><a href="{{ path('practicas_alumno') }}">Practicantes</a></li>
{%endblock%}


{% block header %}
    {% if isTipo("TYPE_CONTACTO") or isTipo("TYPE_SUPERVISOR") %}    
    Practicantes
    {% else %}
    Planes de práctica
    {% endif %}
{% endblock %}
{% block lead %}{% endblock %}

{% block content %}
    <div id="form_ordenar" class="well clearfix" style="margin:0">
        <div class="btn-group">
            {% if isAlumno %}  
            <a href="{{ path('practicas_alumno_new') }}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Crear plan de práctica</a>        
            {% endif %}
        </div>
    </div>
    
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th {% if pagination.isSorted('a.apellido') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nombre', 'a.apellido') }}</th>
                <th {% if pagination.isSorted('p.tipo') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Tipo de práctica', 'p.tipo') }}</th>
                <th {% if pagination.isSorted('oa.nombre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Organización', 'oa.nombre') }}</th>
                <th {% if pagination.isSorted('p.fechaInicio') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Inicio', 'p.fechaInicio') }}</th>                
                <th>Duración</th>                
                <th {% if pagination.isSorted('p.estado') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Estado', 'p.estado') }}</th>
                <th>···</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td>{{ entity.alumno.nombreCompleto }}</td>
                <td>{{ entity.tipo }}</td>
                <td>
                    <a target="_blank" href="{{ path('practicas_organizacion_show', { 'id': entity.organizacion.id }) }}">
                        <img src="{{ entity.organizacion.webPath | imagine_filter('thumb32') }}" />
                        {{ entity.organizacion.nombre }}
                    </a>
                </td>
                <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.duracionCantidad }} {{ entity.duracionUnidad }}</td>
                <td>
                    {% include 'pDevPracticasBundle:AlumnoPracticante:estadoLabel.html.twig' %}
                </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('practicas_alumno_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    {% if idAlumno and entity.alumno.id == idAlumno and (entity.estado == 'estado.pendiente' or entity.estado == 'estado.rechazada') %}
                    <li>
                        <a href="{{ path('practicas_alumno_new') }}">Editar</a>
                    </li>
                    {% endif %}
                    {% if isSupervisor %}
                    <li>
                        <a href="{{ path('practicas_alumno_evaluar_supervisor', { 'id': entity.id }) }}">Evaluar</a>
                    </li>             
                    {% endif %}
                    {% if entity.estado == 'estado.informe' %}
                    <li>
                        <a href="{{ path('practicas_alumno_evaluar_profesor', { 'id': entity.id }) }}">Evaluar</a>
                    </li>             
                    {% endif %}
                </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan=6>
                    <div class="text-center">No se encontraron planes de prácticas</div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
