{% extends 'pDevPracticasBundle::layout.html.twig' %}
        
{%block breadcrumb%}
    {{parent()}}
{%endblock%}

{%block header%}Plan de práctica{%endblock%}
{%block lead%}1 de 4: Seleccionar organización{%endblock%}

{%block content %}
    
    <p>1) Busque la organización</p>
    <form class="form-well form-horizontal" action="{{ path('practicas_alumno_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-primary pull-right" type="submit"> Guardar y continuar: Datos práctica</button>
        </p>
    </form>
    
    <p>2) ¿No encuentra la organización? Inscríbala</p>
    <form class="form-well form-horizontal" action="{{ path('practicas_alumno_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(organizacionAlias_form) }}
        {{ form_widget(organizacion_form) }}
        <h3>Supervisor</h3>
        {{ form_widget(supervisor_form) }}
        <p>
            <button class="btn btn-primary pull-right" type="submit"> Guardar y continuar: Datos práctica</button>
        </p>
    </form>
{% endblock %}

