{% extends 'pDevPracticasBundle::layout.html.twig' %}



        
{% block javascript%}
        
        <link rel="stylesheet" type="text/css" href="{{ asset('/css/gantt/jquery.ganttView.css') }}" />
        <script type="text/javascript" src="{{ asset('/js/gantt/lib/date.js') }}"></script>
        
        <script type="text/javascript" src="{{ asset('/js/gantt/jquery.ganttView.js') }}"></script>
        
{% endblock %}
        
{%block breadcrumb%}
{{parent()}}
                
{%endblock%}


{%block header%}Plan de pr치ctica{%endblock%}
{%block lead%}1 de 5: Informaci칩n del alumno{%endblock%}

{%block content %}
    <form class="form-well form-horizontal" action="{{ path('practicas_alumno_wizard',{'idPracticante':app.request.get('idPracticante'),'step':2}) }}" method="post" {{ form_enctype(alumno_form) }}>
        {{ form_widget(alumno_form) }}
        <p>
            <button class="btn btn-primary pull-right" type="submit">Siguiente: Informaci칩n de la organizaci칩n</button>
        </p>
        <div class="clearfix"></div>
    </form>
    
{% endblock %}
