{% extends 'pDevPracticasBundle::layout.html.twig' %}
        
{% block javascript%}
        <link rel="stylesheet" type="text/css" href="{{ asset('/css/gantt/jquery.ganttView.css') }}" />
        <script type="text/javascript" src="{{ asset('/js/gantt/lib/date.js') }}"></script>        
        <script type="text/javascript" src="{{ asset('/js/gantt/jquery.ganttView.js') }}"></script>        
        <script type="text/javascript" src="{{ asset('/js/pdev.submit.js') }}"></script>      
{% endblock %}
        
{%block breadcrumb%}
{{parent()}}
                
{%endblock%}


{%block header%}Plan de práctica{%endblock%}
{%block lead%}5 de 5: Carta gantt{%endblock%}

{%block content %}
    
    <div class="alert alert-default">
        <a class="close">×</a>
        <h4 class="alert-heading"><span style="color: #0F6DAF">Información</span></h4>
        <p>Las modificaciones que realice en esta carta gantt, quedan inmediatamente guardadas. Una vez que finalice lo envía para aprobación.</p>
    </div>

    <div id="ganttChart" style="background-color: white;margin:auto;"></div>
        
    <div id="eventMessage" class="text-center" style="height: 50px;vertical-align: middle"></div>
    <div class="well">
    <p>
        <a href="{{path('practicas_alumno_wizard',{'step':4,'idPracticante':idPracticante})}}" class="btn btn-primary">Anterior: Detalles de la práctica</a>        
        <a href="{{ path('practicas_alumno_wizard',{'idPracticante':app.request.get('idPracticante'),'step':6,'idOrganizacionAlias':idOrganizacionAlias,'idAlumno':idAlumno,'idSupervisor':idSupervisor}) }}" class="btn btn-primary pull-right onmodal">Enviar para aprobación</a>        
    </p>
    <div class="clearfix"></div>
    </div>
    <script type="text/javascript">
    var ganttData = jQuery.parseJSON('{{ganttdata|raw}}');
    
    function p_gantt_redraw()
    {
        var dinwidth = $('#container').innerWidth() - 510;
        $("#ganttChart").empty();
        $("#ganttChart").ganttView({
                    data: ganttData,
                    slideWidth: dinwidth,
                    behavior: {
                            onClick: function (data) {
                                    var msg = "You clicked on an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                                    //$("#eventMessage").text(msg);
                            },
                            onResize: function (data) {
                                    var msg = "You resized an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                                    //$("#eventMessage").text(msg);
                            },
                            onDrag: function (data) {
                                    var msg = "You dragged an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                                    //$("#eventMessage").text(msg);
                            }
                    }
            });

        //$("#ganttChart").ganttView("setSlideWidth", 510);
    }

    p_gantt_redraw();

    function p_gantt_task_edit(proyecto,task)
    {
        //alert('editar: '+proyecto+','+task);
        var edit_url = '{{path('practicas_alumno_tarea',{'idProyecto':'__proyecto__','idTarea':'__tarea__'})}}';
        edit_url = edit_url.replace('__proyecto__',proyecto);
        edit_url = edit_url.replace('__tarea__',task);
        p_getOnModal(edit_url);

    }

    function p_gantt_task_add(proyecto)
    {
        var edit_url = '{{path('practicas_alumno_tarea',{'idProyecto':'__proyecto__','idTarea':'new'})}}';
        edit_url = edit_url.replace('__proyecto__',proyecto);
        p_getOnModal(edit_url);
    }

    function p_gantt_task_remove(proyecto,task)
    {
        var edit_url = '{{path('practicas_alumno_tarea_remove',{'idProyecto':'__proyecto__','idTarea':'__tarea__'})}}';
        edit_url = edit_url.replace('__proyecto__',proyecto);
        edit_url = edit_url.replace('__tarea__',task);
        p_getOnModal(edit_url);
    }
            
    </script>
{% endblock %}

{% block javascriptload%}
<script type="text/javascript">
    
    
    
</script>
{% endblock %}