{% extends 'pDevPracticasBundle::layout.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/jquery-ui.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/gantt/jquery.ganttView.css') }}" />
{% endblock %}        

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('/js/gantt/lib/date.js') }}"></script>   
    <script type="text/javascript" src="{{ asset('/js/vendor/jquery-ui-1.11.0.min.js') }}"></script>     
    <script type="text/javascript" src="{{ asset('/js/gantt/jquery.ganttView.js') }}"></script>        
    <script type="text/javascript" src="{{ asset('/js/pdev.submit.js') }}"></script>      
{% endblock %}
        
{%block breadcrumb%}
    {{ parent() }}
{%endblock%}

{% block header%}Plan de práctica{%endblock%}
{% block lead%}{%endblock%}

{% block sidebar %}
    <div id="estado">
        <h4>Estado del plan de práctica</h4>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Estado</th>
                    <td>
                        {% include 'pDevPracticasBundle:AlumnoPracticante:estadoLabel.html.twig' %} 
                    </td>
                </tr>
                <tr>
                    <th>Observaciones</th>
                    <td>{% if entity.estadoObservaciones %} {{ entity.estadoObservaciones }}{% else %}Sin observaciones{% endif %}</td>
                </tr> 
                {% if entity.profesor %}
                <tr>
                    <th>Profesor evaluador</th>
                    <td>{{ entity.profesor }}</td>
                </tr>
                {% endif %}
                {% if entity.profesorEvaluacion %}
                <tr>
                    <th>Evaluación del profesor</th>
                    <td><a href="{{ path('practicas_evaluacion_profesor_show', {'id': entity.profesorEvaluacion.id}) }}">{{ entity.profesorEvaluacion.calculaNotaFinal is empty ? '-' : entity.profesorEvaluacion.calculaNotaFinal }}</a></td>
                </tr>
                {% endif %}
                {% if entity.supervisorEvaluacion %}
                <tr>
                    <th>Evaluación del supervisor</th>
                    <td><a href="{{ path('practicas_evaluacion_supervisor_show', {'id': entity.supervisorEvaluacion.id}) }}">Ver evaluación</a></td>
                </tr>
                {% endif %}
                <tr>
                    <td colspan=2>
                    {% if (isSupervisor or isContacto) and entity.estado == 'estado.postulado' %}
                        <a href="{{ path('practicas_alumno_postulante_aceptar', {'id': entity.id}) }}" class="pull-right btn btn-primary">
                            <span class="glyphicon glyphicon-ok"></span> Aceptar postulante
                        </a>
                    {% elseif isAlumno and entity.estado == 'estado.aceptada.contacto' %}
                        <a href="{{ path('practicas_alumno_new_datos_source', { 'id': entity.id }) }}" class="pull-right btn btn-primary">
                            <span class="glyphicon glyphicon-ok"></span> Armar plan de practica
                        </a>
                    {% elseif isAlumno and entity.estado == 'estado.pendiente' %}
                        <a href="{{ path('practicas_alumno_new_datos_source', { 'id': entity.id }) }}" class="pull-right btn btn-primary">
                            <span class="glyphicon glyphicon-ok"></span> Modificar practica
                        </a>
                    {% elseif (isCoordinacion and entity.estado == 'estado.aceptada.supervisor') or ((isSupervisor or isContacto) and entity.estado == 'estado.enviada') %}
                        <a href="{{ path('practicas_alumno_aceptar', { 'id': entity.id }) }}" class="pull-right btn btn-primary onmodal">
                            <span class="glyphicon glyphicon-ok"></span> Aceptar práctica
                        </a>
                    {% elseif isAlumno and entity.estado == 'estado.aprobada' %}
                        <a href="{{ path('practicas_alumno_aceptar', {'id': entity.id}) }}" class="pull-right btn btn-primary onmodal">
                            <span class="glyphicon glyphicon-ok"></span> Iniciar práctica
                        </a>
                    {% elseif isAlumno and entity.estado == 'estado.iniciada' %}
                        <a href="{{ path('practicas_alumno_aceptar', {'id': entity.id}) }}" class="pull-right btn btn-primary onmodal">
                            <span class="glyphicon glyphicon-ok"></span> Terminar práctica
                        </a>
                    {% elseif ((isSupervisor and entity.supervisorEvaluacion is null) or (isAcademico and entity.profesorEvaluacion is null)) and (entity.estado == 'estado.terminada' or entity.estado == 'estado.informe') %}
                        <a href="{{ path('practicas_alumno_evaluar', {'id': entity.id}) }}" class="pull-right btn btn-primary">
                            <span class="glyphicon glyphicon-check"></span> Evaluar práctica
                        </a>
                    {% elseif (isAlumno) and entity.estado == 'estado.terminada' %}
                        Enviar documentos
                    {% elseif isCoordinacion and entity.estado == 'estado.terminada' and entity.profesor is null %}
                        <a href="{{ path('practicas_alumno_asignar_profesor', {'id': entity.id}) }}" class="pull-right btn btn-primary onmodal">
                            <span class="glyphicon glyphicon-user"></span> Asignar profesor evaluador
                        </a>
                    {% elseif isCoordinacion and entity.estado == 'estado.informe' and entity.profesorEvaluacion and entity.supervisorEvaluacion %}
                        <a href="{{ path('practicas_alumno_aceptar', { 'id': entity.id }) }}" class="pull-right btn btn-primary onmodal">
                            <span class="glyphicon glyphicon-ok"></span> Cerrar práctica
                        </a>
                    {% endif %}
                    </td>
                </tr> 
            </tbody>
        </table>
    </div>
    <div class="btn-group">
        {% if isCoordinacion and (entity.estado == "estado.enviada" or entity.estado == "estado.aceptada.supervisor") %}
        <a href="{{ path('practicas_alumno_estado', { 'id': entity.id }) }}"  class="pull-left btn btn-primary onmodal">
            <span class="glyphicon glyphicon-adjust"></span> Cambiar estado
        </a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <h4>Información del alumno</h4>
    <table class="table">
        <tbody>
            <tr>
                <th width="35%">Nombre</th>
                <td>{{ entity.alumno.nombreCompleto }}</td>
            </tr>
            <tr>
                <th>Número de alumno</th>
                <td>{{ entity.alumno.numeroAlumno }}</td>
            </tr>
            <tr>
                <th>Teléfono</th>
                <td>{{ entity.alumno.numeroTelefono is empty ? '-' : entity.alumno.numeroTelefono }}</td>
            </tr><tr>
                <th>Correo electrónico</th>
                <td>{{ entity.alumno.email is empty ? '-' : entity.alumno.email }}</td>
            </tr> 
        </tbody>
    </table>
    <h4>Información de la organización</h4>
    <table class="table">
        <tbody>
            <tr>
                <th width="35%">Nombre</th>
                <td>{{ entity.organizacion.nombre }}</td>
            </tr>
            <tr>
                <th>Rut</th>
                <td>{{ entity.organizacion.rut }}</td>
            </tr>
            <tr>
                <th>Rubro</th>
                <td>{{ entity.organizacion.rubro }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ entity.organizacion.descripcion }}</td>
            </tr>
            <tr>
                <th>País</th>
                <td>{{ entity.organizacion.pais }}</td>
            </tr>
            <tr>
                <th>Dirección web</th>
                <td>{{ entity.organizacion.web }}</td>
            </tr>
            <tr>
                <th>N° de personas que trabajan en la organización</th>
                <td>{{ entity.organizacion.personasTotal }}</td>
            </tr>
            <tr>
                <th>Años de antiguedad</th>
                <td>{{ entity.organizacion.antiguedad }}</td>
            </tr>
        </tbody>
    </table>
    <h4>Información del supervisor</h4>
    {% if entity.supervisor %}
    <table class="table">
        <tbody>
            <tr>
                <th width="35%">Rut</th>
                <td>{{ entity.supervisor.rut }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.supervisor.nombreCompleto }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.supervisor.email }}</td>
            </tr>
            <tr>
                <th>Cargo</th>
                <td>{{ entity.supervisor.cargo }}</td>
            </tr>
            
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-warning" role="alert">No hay supervisor asignado</div>
    {% endif %}
    
    <h4>Información de la práctica</h4>
    <table class="table">
        <tbody>
            <tr>
                <th width="35%">Tipo de práctica</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>¿Cómo contactó a la organización?</th>
                <td>{{ entity.comoContacto }}</td>
            </tr>
            <tr>
                <th>Fecha inicio</th>
                <td>{{ entity.fechaInicio|date('d-m-y') }}</td>
            </tr>
            <tr>
                <th>Duración</th>
                <td>{{ entity.duracionCantidad }} {{ entity.duracionUnidad }}</td>
            </tr>
            {% if entity.estado != 'estado.postulado' and entity.estado != 'estado.aceptada.contacto' %}
            <tr>
                <th>Último taller</th>
                <td>{{ entity.ultimoTaller }}</td>
            </tr>
            <tr>
                <th>Profesor</th>
                <td>{{ entity.ultimoTallerProfesor }}</td>
            </tr>
            <tr>
                <th>Horas</th>
                <td>
                    <table class="table table-bordered">
                        <tr>
                            <td>Lun</td>
                            <td>Mar</td>
                            <td>Mié</td>
                            <td>Jue</td>
                            <td>Vie</td>
                            <td>Sáb</td>
                        </tr>
                        <tr>
                            <td>{{ entity.horasLunes }}</td>
                            <td>{{ entity.horasMartes }}</td>
                            <td>{{ entity.horasMiercoles }}</td>
                            <td>{{ entity.horasJueves }}</td>
                            <td>{{ entity.horasViernes }}</td>
                            <td>{{ entity.horasSabado }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    
    {% if entity.estado != 'estado.postulado' and entity.estado != 'estado.aceptada.contacto' %}
    <h4>Proyectos y responsabilidades</h4>
    <table class="table">
        <tbody>
        {% for proyecto in entity.proyectos %}
            <tr>
                <td><strong>{{ loop.index }}. {{ proyecto.nombre }}</strong><p> {{ proyecto.descripcion}}</td>
            </tr>
        {% else %}
            <tr>
                <td class="text-center">Sin información</td>
            </tr>
        {% endfor%}
        </tbody>
    </table>
    
    <h4>Carta gantt</h4>
    <div id="ganttChart" style="background-color: white;margin:auto;"></div>
    <br/><br/>
    <div id="eventMessage"></div>
    
    <h4>Objectivos específicos (desafíos personales que desea lograr el alumno)</h4>
    
    <table class="table">
        <tbody>
            {% for desafio in entity.desafios%}
                <tr>
                    <td><strong>{{ loop.index }}.</strong> {{ desafio.descripcion}}</td>
                </tr>
            {% else %}
                <tr>
                    <td class="text-center">Sin información</td>
                </tr>
            {% endfor%}
        </tbody>
    </table>
    {% endif %}
    
{% endblock %}
    
{% block javascriptload %}
    {{ parent() }}
    <script type="text/javascript">
        function p_gantt_redraw()
        {
            var dinwidth = $('.container').innerWidth() - 510;
            $("#ganttChart").empty();
            $("#ganttChart").ganttView({
                dataUrl: Routing.generate('practicas_alumno_gantt_json', { id: {{ entity.id }} }),
                slideWidth: dinwidth,
                behavior: {
                    onClick: function (data) {
                            var msg = "You clicked on an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                            //$("#eventMessage").text(msg);
                    },
                    onResize: function (data) {
                            var msg = "You resized an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                            //$("#eventMessage").text(msg);
                    },
                    onDrag: function (data) {
                            var msg = "You dragged an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                            //$("#eventMessage").text(msg);
                    }
                }
            });

            //$("#ganttChart").ganttView("setSlideWidth", 510);
        }

        p_gantt_redraw();
    </script>
{% endblock %}
