{% extends 'pDevUserBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block header%}Personas{%endblock%}
{% block lead%}{{ pagination.getTotalItemCount }} personas en el sistema{% endblock %}

{% block content %}
    <div id="form_ordenar" class="well clearfix" style="margin:0">
      <form id="form_buscar" class="pull-right form-search" style="margin:0" action="{{ path('persona_buscar',{'tipo':'todas'}) }}" method="post" {{ form_enctype(search_form) }}>
            {{ form_widget(search_form.querystring) }}
            {{ form_rest(search_form) }}
            <button type="submit" id="_submit" class="hide"></button>
            <a href="#form_buscar" class="btn btn-primary submitform"><span class="glyphicon glyphicon-search"></span></a>
      </form>     
    </div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th{% if pagination.isSorted('p.nombres') %} class="sorted"{% endif %}>
                    {% if search_form.querystring.vars.value == '' %}
                    {{ knp_pagination_sortable(pagination, 'Nombres', 'p.nombres') }}
                    {% endif %}
                </th>
                <th{% if pagination.isSorted('p.apellidoPaterno') %} class="sorted"{% endif %}>
                    {% if search_form.querystring.vars.value == '' %}
                    {{ knp_pagination_sortable(pagination, 'Apellido Paterno', 'p.apellidoPaterno') }}
                    {% endif %}
                </th>
                <th{% if pagination.isSorted('p.apellidoMaterno') %} class="sorted"{% endif %}>
                    {% if search_form.querystring.vars.value == '' %}
                    {{ knp_pagination_sortable(pagination, 'Apellido Matenro', 'p.apellidoMaterno') }}
                    {% endif %}
                </th>
                <th{% if pagination.isSorted('p.email') %} class="sorted"{% endif %}>
                    {% if search_form.querystring.vars.value == '' %}
                    {{ knp_pagination_sortable(pagination, 'Email', 'p.email') }}
                    {% endif %}
                </th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td>
                    {{ entity.nombres }}
                </td>
                <td>{{ entity.apellidoPaterno }}</td>
                <td>{{ entity.apellidoMaterno }}</td>
                <td>{{ entity.email }}</td>
                <td>
                    {%- if entity.tipo == "TYPE_FUNCIONARIO" -%}Funcionario
                    {%- elseif entity.tipo == "TYPE_ACADEMICO" -%}Académico
                    {%- elseif entity.tipo == "TYPE_ALUMNO" -%}Alumno
                    {%- endif -%}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
    {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

{% block javascriptload %}
{% endblock %}
