{% extends 'pDevWebBundle::layout.html.twig' %}

{% block jumbotron %}
<h1>SISTEMA DE PRÁCTICAS</h1>
<p class="lead">Bienvenidos a la Web de Prácticas de la Escuela de Diseño de la Pontificia Universidad Católica de Chile. Este sistema le permitirá acceder de manera fácil y rápida a estudiantes, profesores y entidades solicitantes de práctica; a los distintos espacios necesarios durante el proceso de búsqueda, solicitud, inscripción y realización de la experiencia, finalizando en su evaluación</p>
{% endblock %}

{% block styles %}
    {{ parent() }}
    <style>
        body > .container{min-height: 150px;}
    </style>
{% endblock %}
        
{% block navleft %}
{% endblock %}

{% block content %}
<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Estudiantes</h3>
        </div>
        <div class="panel-body">
            <p>Busca ofertas de trabajo, inscribe la práctica, infórmate del estado de tu práctica y su evaluación.</p>
            <a class="btn btn-sm btn-primary onmodal" href="{{ path('default_inicio') }}">Acceder &rarr;</a>
        </div><!--/panel-->
    </div><!--/panel-body-->			
</div><!--/col-sm-4-->

<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Académicos</h3>
        </div>
        <div class="panel-body">
            <p>Solicita un practicante y evalúa a los estudiantes.<br></p>
            <a class="btn btn-sm btn-primary onmodal" href="{{ path('default_inicio') }}">Acceder &rarr;</a>
        </div><!--/panel-->
    </div><!--/panel-body-->
</div><!--/col-sm-4-->

<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Empresas y fundaciones</h3>
        </div>
        <div class="panel-body">
            <p>Solicita un practicante, monitorea tu oferta y evalúa al estudiante.<br></p>
            <a class="btn btn-sm btn-primary onmodal" href="{{ path('fos_user_security_login') }}">Acceder &rarr;</a>
        </div><!--/panel-body-->
    </div><!--/panel-->
</div><!--/col-sm-4-->
{%endblock%}

{% block footer %}
    <a class="onmodal" href="{{ path('fos_user_security_login') }}">Acceso coordinadores &rarr;</a>
{% endblock %}
