{% extends 'pDevPracticasBundle::layout.html.twig' %}

{%block breadcrumb%}
{{parent()}}
                <li class="active"><span class="divider">/</span><a href="{{ path('practicas_evaluacion') }}">Evaluaciones</a></li>
{%endblock%}


{%block header%}Evaluaciones{%endblock%}
{%block lead%}Sólo alumnos inscritos en curso{%endblock%}

{%block content %}
<div id="div_periodo" class="hide" style="margin:0">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Seleccionar periodo</h3>
    </div>
    <div class="modal-body">
        <form id="form_periodo" class="form-horizontal" action="{{ path('practicas_evaluacion') }}" method="post" {{ form_enctype(period_form) }}>
            <div class="control-group" style="margin:0">
                {{ form_label(period_form.periodo) }}
                <div class="controls">
                    {{ form_widget(period_form.periodo) }}
                    <button type="submit" id="_submit" class="hide"></button>
            
                </div></div>
            {{ form_rest(period_form) }}          
        </form>
    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    <a href="#form_periodo" class="btn btn-primary submitform">Seleccionar</a>
    </div>
</div>
{% set orderBy = app.request.get('orderBy') %}
{% set order = app.request.get('order') %}
{% set defaultorder = 'asc' %}
    <div id="form_ordenar" class="well clearfix no-margin">
        <div class="btn-group">
            <a href="{{ path('practicas_evaluacion_criterios') }}" class="pull-left btn btn-primary"><span class="glyphicon glyphicon-list-alt"></span> Criterios de evaluación</a>        
        </div>
        <div class="btn-group">
            <a href="#div_periodo" class="pull-left btn btn-primary onmodal"><span class="glyphicon glyphicon-calendar"></span> Cambiar periodo ({{app.request.get('periodo')}})</a>
        </div>
            <div class="btn-group">
            <a href="{{ path('practicas_evaluacion',{'periodo':app.request.get('periodo'),'page':'excel','order':order,'orderBy':orderBy}) }}" class="pull-left btn btn-primary"><span class="glyphicon glyphicon-file"></span> Exportar</a>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Practicante
                        {% if orderBy == 'practicante' and order == 'asc' %}
                            {% set defaultorder = 'desc' %}
                        {% else %}
                            {% set defaultorder = 'asc' %}
                        {% endif %}
                        
                        <a href="{{ path('practicas_evaluacion',{'periodo':app.request.get('periodo'),'page':1,'order':defaultorder,'orderBy':'practicante'}) }}">
                            <span title="Reordenar" class="glyphicon glyphicon-sort-by-alphabet{% if defaultorder == 'desc'%}-alt{%endif%}"></span>
                        </a></th>
                <th>Profesor evaluador
                {% if orderBy == 'profesor' and order == 'asc' %}
                            {% set defaultorder = 'desc' %}
                        {% else %}
                            {% set defaultorder = 'asc' %}
                        {% endif %}
                        
                        <a href="{{ path('practicas_evaluacion',{'periodo':app.request.get('periodo'),'page':1,'order':defaultorder,'orderBy':'profesor'}) }}">
                            <span title="Reordenar" class="glyphicon glyphicon-sort-by-alphabet{% if defaultorder == 'desc'%}-alt{%endif%}"></span>
                        </a></th>
                <th>Supervisor organización
                {% if orderBy == 'supervisor' and order == 'asc' %}
                            {% set defaultorder = 'desc' %}
                        {% else %}
                            {% set defaultorder = 'asc' %}
                        {% endif %}
                        
                        <a href="{{ path('practicas_evaluacion',{'periodo':app.request.get('periodo'),'page':1,'order':defaultorder,'orderBy':'supervisor'}) }}">
                            <span title="Reordenar" class="glyphicon glyphicon-sort-by-alphabet{% if defaultorder == 'desc'%}-alt{%endif%}"></span>
                        </a></th>
                <th>Nota final
                {% if orderBy == 'nota' and order == 'asc' %}
                            {% set defaultorder = 'desc' %}
                        {% else %}
                            {% set defaultorder = 'asc' %}
                        {% endif %}
                        
                        <a href="{{ path('practicas_evaluacion',{'periodo':app.request.get('periodo'),'page':1,'order':defaultorder,'orderBy':'nota'}) }}">
                            <span title="Reordenar" class="glyphicon glyphicon-sort-by-alphabet{% if defaultorder == 'desc'%}-alt{%endif%}"></span>
                        </a></th>
                <th>···</th>                
            </tr>
        </thead>
        <tbody>
        {% for practicante in practicantes %}
            <tr>
                <td>
                    {{ practicante.alumno.nombreCompleto }}
                </td>
                <td>
                    {% if practicante.profesor %}
                        {{ practicante.profesor.profesor.nombreCompleto }}
                    {% else %}
                    <ul>    
                        <li>
                            <a class="onmodal" href="{{ path('practicas_evaluacion_asignar', { 'idPracticante': practicante.id }) }}">Asignar profesor evaluador</a>
                        </li>
                    </ul>
                    {% endif %}
                </td>
                <td>
                    {% if practicante.supervisor %}
                        {{ practicante.supervisor.nombreCompleto }}
                    {% else %}
                        No se encontró supervisor
                    {% endif %}
                </td>
                <td>{% if practicante.profesorEvaluacion %}{{ practicante.profesorEvaluacion.notaFinal }}{% else %}Sin evaluar{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('practicas_evaluacion_show_profesor', { 'idPracticante': practicante.id }) }}">Evaluación profesor</a>
                        </li>
                        <li>
                            <a href="{{ path('practicas_evaluacion_show_supervisor', { 'idPracticante': practicante.id }) }}">Evaluación supervisor</a>
                        </li>
                        <li>
                            <a class="onmodal" href="{{ path('practicas_evaluacion_asignar', { 'idPracticante': practicante.id }) }}">Asignar profesor evaluador</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan=5>
                    <div class="text-center">No se encontraron evaluaciones</div>                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if siguiente or anterior %}
<div class="pager">
    <ul>
        {%if anterior %}
        <li><a href="{{ path('practicas_evaluacion',{'periodo':app.request.get('periodo'),'page':anterior,'order':app.request.get('order'),'orderBy':app.request.get('orderBy')}) }}">← Anterior</a></li>
        {% endif%}
        
        {%if siguiente %}
        <li><a href="{{ path('practicas_evaluacion',{'periodo':app.request.get('periodo'),'page':siguiente,'order':app.request.get('order'),'orderBy':app.request.get('orderBy')}) }}">Siguiente →</a></li>
        {% endif%}
    </ul>
</div>
{% endif %}
    
    {% endblock %}
