{% extends 'pDevPracticasBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active"><a href="{{ path('practicas_evaluacion') }}">Evaluaciones</a></li>
{% endblock %}


{%block header%}Evaluaciones{%endblock%}
{%block lead%}Sólo alumnos inscritos en curso{%endblock%}

{% block content %}
    <div id="form_ordenar" class="well clearfix no-margin">
        <div class="btn-group">
            <a href="{{ path('practicas_evaluacion_criterios') }}" class="pull-left btn btn-primary"><span class="glyphicon glyphicon-list-alt"></span> Criterios de evaluación</a>        
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th{% if pagination.isSorted('a.apellidoPaterno') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Practicante', 'a.apellidoPaterno') }}</th>
                <th{% if pagination.isSorted('prof2.apellidoPaterno') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Profesor evaluador', 'prof2.apellidoPaterno') }}</th>
                <th{% if pagination.isSorted('s.apellidoPaterno') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Supervisor organización', 'a.title') }}</th>
                <th{% if pagination.isSorted('evaluacion.notaFinal') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nota final', 'a.title') }}</th>
                <th>···</th>                
            </tr>
        </thead>
        <tbody>
        {% for practicante in pagination %}
            <tr>
                <td>
                    {{ practicante.alumno.nombreCompleto }}
                </td>
                <td>
                    {% if practicante.profesor %}
                        {{ practicante.profesor.nombreCompleto }}
                    {% elseif isCoordinacion %}
                    <ul>    
                        <li>
                            <a class="onmodal" href="{{ path('practicas_alumno_asignar_profesor', { 'id': practicante.id }) }}">Asignar profesor evaluador</a>
                        </li>
                    </ul>
                    {% endif %}
                </td>
                <td>
                    {% if practicante.supervisor %}
                        {{ practicante.supervisor.nombreCompleto }}
                    {% else %}
                        No se encontró supervisor
                    {% endif %}
                </td>
                <td>{% if practicante.profesorEvaluacion %}{{ practicante.profesorEvaluacion.notaFinal }}{% else %}Sin evaluar{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            {% if practicante.profesorEvaluacion %}
                            <a href="{{ path('practicas_evaluacion_profesor_show', { 'id': practicante.profesorEvaluacion.id }) }}">Evaluación profesor</a>
                            {% else %}
                            Evaluación del profesor aún no disponible
                            {% endif %}
                        </li>
                        {% if isAcademico and practicante.profesorEvaluacion %}
                        <li>
                            <a href="{{ path('practicas_evaluacion_profesor_new', { 'idPracticante': practicante.id }) }}">Evaluar</a>
                        </li>
                        {% endif %}
                        <li>
                            {% if practicante.supervisorEvaluacion %}
                            <a href="{{ path('practicas_evaluacion_supervisor_show', { 'id': practicante.supervisorEvaluacion.id }) }}">Evaluación supervisor</a>
                            {% else %}
                            Evaluación del supervisor aún no disponible
                            {% endif %}
                        </li>
                        {% if isSupervisor  %}
                        <li>
                            <a href="{{ path('practicas_evaluacion_supervisor_new', { 'idPracticante': practicante.id }) }}">Evaluar</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan=5>
                    <div class="text-center">No se encontraron evaluaciones</div>                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
