{% extends 'pDevPracticasBundle::layout.html.twig' %}

{%block breadcrumb%}
{{parent()}}
                
{%endblock%}


{%block header%}Evaluación plan de práctica{%endblock%}
{%block lead%}Profesor{%endblock%}

{%block content %}

{% if not evaluacion_profesor %}
    <table class="table table-bordered">
        <tbody>
            <tr>                
                <td class="text-center">No se ha asignado un profesor evaluador</td>
            </tr>
        </tbody>
    </table>
{% else %}


    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Profesor evaluador</th>
                <td>{{ evaluacion_profesor.profesor.profesor.nombreCompleto }}</td>
            </tr>
            <tr>
                <th>Título informe</th>
                <td>{{ evaluacion_profesor.tituloInforme }}</td>
            </tr>
            <tr>
                <th>Nota evaluación</th>
                <td>{{ evaluacion_profesor.nota}}</td>
            </tr>
            <tr>
                <th>Descuento</th>
                <td>{{ evaluacion_profesor.descuento}} <a class="onmodal" href="{{ path('practicas_evaluacion_descuento', { 'idPracticante': idPracticante }) }}" >
                    <span class="glyphicon glyphicon-pencil"></span> 
                    </a>
                </td>
            </tr>
            <tr>
                <th>Nota final</th>
                <td>{{ evaluacion_profesor.notaFinal}}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{% if evaluacion_profesor.observaciones %}{{ evaluacion_profesor.observaciones }}{% else %}Sin observaciones{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <h4>Criterios a evaluar</h4>
        <table class="table table-bordered">
            <tr>
                {% for criterio in evaluacion_profesor.criterios %}
                <th>
                    {{criterio.criterioTipo.nombre}}                            
                </th>
                {% endfor %}
            </tr>
            <tr>
                {% for criterio in evaluacion_profesor.criterios %}
                <td>{{criterio.criterioTipo.descripcion}}</td>                            
                {% endfor %}
            </tr>
        </table>
    <h4>Evaluación</h4>
        <div id="criterios">
            <table class="table table-bordered table-hover">
            {% for criterio in evaluacion_profesor.criterios %}
                <tr>
                    <td>
                        <strong>{{criterio.criterioTipo.nombre}}</strong><br>
                        {{criterio.criterioTipo.explicacion}}
                    </td>
                    <td style="width:100px;vertical-align: middle;text-align: center">
                        <strong>
                        {% if criterio.valor == '2' %}
                            No logra
                        {% elseif criterio.valor == '4' %}
                            Logra en forma mínima
                        {% elseif criterio.valor == '5.5' %}
                            Logra
                        {% elseif criterio.valor == '7' %}
                            Logra y aporta
                        {% else %}
                            No evaluado
                        {% endif %}
                        </strong>
                    </td>                            
                </tr>                               
            {% endfor %}
            </table> 
        </div>
    {% endif %}

{% endblock %}
