{% extends 'pDevPracticasBundle::layout.html.twig' %}

{%block breadcrumb%}
    {{ parent() }}
    <li><a href="{{ path('practicas') }}">Prácticas</a></li>
    <li><a href="{{ path('practicas_edit', { 'id': entity.id }) }}" class="active">Editar</a></li>
{%endblock%}


{%block header%}Prácticas{%endblock%}
{%block lead%}Periodo académico {%endblock%}

{%block content %}
    

    <form id="form_practica" class="well form-horizontal" action="{{ path('practicas_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p class="pull-right">
            <button id="_submit" class="hide" type="submit">Guardar</button>
            <a href="#form_delete" class="btn btn-warning submitform">Eliminar</a>
            <a href="#form_practica" class="btn btn-primary submitform">Guardar cambios</a>
        </p>
        <div class="clearfix"></div>
    </form>

    <form id="form_delete" class="hide" action="{{ path('practicas_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="hide" id="_submit" type="submit">Eliminar</button>
    </form>
    
{% endblock %}
