{% extends 'pDevPracticasBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('practicas_new') }}">Solicitar practicante</a></li>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('/js/pdev.submit.js') }}"></script>
{% endblock %}
        
{% block header %}Solicitar practicante{%endblock%}
{% block lead %}Detalles de la práctica{%endblock%}

{% block content %}
    <form id="form_practica" class="form-well form-horizontal" action="{{ path('practicas_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_rest(form) }}
        <p class="pull-right">            
            <button id="_submit" class="hide" type="submit"></button>         
            <a class="btn" onClick="document.forms.form_practica.reset()">Limpiar</a>
            <a href="#form_practica" class="btn btn-primary submitform">Enviar solicitud</a>
        </p>
        <div class="clearfix"></div>
    </form>
{% endblock %}

{% block javascriptload%}
<script type="text/javascript">
    var input_alias = $('input#pdev_practicasbundle_organizacionalias');
    var source_url = '{{path('practicas_organizacion_find')}}';
    var fillable_base = 'pdev_practicasbundle_organizaciontype_';
</script>
{% endblock %}
