{% extends 'pDevPracticasBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('practicas_new') }}">Solicitar practicante</a></li>
{% endblock %}

{% block styles %}
    {{ parent() }}
    <link href="{{ asset('/css/typeahead.css') }}" rel="stylesheet">
{% endblock %}

{% block javascript %}
    <script src="{{ asset('/externals/self/pdev.submit.js') }}"></script>
{% endblock %}
        
{% block header %}
    Solicitar practicante {% if entity.organizacion %}para "{{ entity.organizacion }}"{% endif %}
{% endblock %}

{% block lead %}Detalles de la práctica{%endblock%}

{% block content %}
    <div class="col-md-7">
        <form id="form_practica" action="{{ ruta }}" method="post" {{ form_enctype(form) }}>
            {{ form_row(form.nombre) }}
            {% if form.organizacion is defined %}
            <div class="form-group">
                <div style="position: relative">
                {{ form_row(form.organizacion) }}
                    {{ form_label(form.organizacion) }}
                    <div id="remote">
                        <input class="typeahead form-control" type="text" placeholder="Ingrese el nombre de la organización">
                    </div>
                    <div class="error1"></div>
                    <div id="callout-helper-bg-specificity" class="bs-callout bs-callout-info" style="width:300px; position: absolute; top: 0; right: -400px;">
                        <h4>Registro de organizaciones</h4>
                        <p>¿No está la organización? Haga click <a class="onmodal" href="{{ path('practicas_organizacion_new_modal') }}">aquí</a> para ingresar una nueva.</p>
                    </div> 
                </div>
            </div>
            {% endif %}
            {{ form_row(form.descripcion) }}
            {{ form_row(form.jornadas) }}
            <hr class="clearfix"/>
            <div style="position: relative">
                {{ form_row(form.fechaInicio) }}
                <div class="form-inline">
                    <div class="form-group">
                        {{ form_label(form.duracionCantidad) }}{{ form_widget(form.duracionCantidad) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.duracionUnidad) }}
                    </div>
                </div>
                <div id="callout-helper-bg-specificity" class="bs-callout bs-callout-info" style="width:300px; position: absolute; top: 0; right: -400px;">
                    <h4>Duración de la práctica</h4>
                    <p>Fecha estimada de término debe calcular 240 horas, dependiendo de la jornada y de si trabaja por dia semanas o meses, sin considerar sábados y domingos.</p>
                </div>
                <div id="endDate"></div>
            </div>
            <hr class="clearfix"/>
            
            {% if form.contacto is defined %} 
            <h4>Datos contacto</h4>
            {{ form_widget(form.contacto) }}
            <hr class="clearfix"/>
            {% endif %}
            
            <h4>Datos supervisor</h4>
            {{ form_widget(form.supervisor) }}
            <hr class="clearfix"/>
            
            <div style="position: relative">
                {{ form_row(form.tipo) }}
                <div id="callout-helper-bg-specificity" class="bs-callout bs-callout-info" style="width:300px; position: absolute; top: 0; right: -400px;">
                    <h4>Tipos de práctica</h4>
                    <ul>
                        <li>Servicio: está orientado a situar al estudiante en la realidad social, enfrentándolo a problemas complejos, donde desde el diseño aporte, con una postura ética, al impacto positivo en el desarrollo sustentable, el beneficio social y la mejora de la calidad de vida de las personas.</li> 
                        <li>Oficina: está orientada a que el estudiante observe y comprenda desde la experiencia laboral, el valor del diseño en un mercado influenciado por variables de orden social, productivo, económico, ambiental cultural y político</li>
                    </ul>
                </div> 
            </div>
            {{ form_rest(form) }}
            <p class="pull-right">            
                <button id="_submit" class="hide" type="submit"></button>         
                <a class="btn" onClick="document.forms.form_practica.reset()">Limpiar</a>
                <a href="#form_practica" class="btn btn-primary submitform">Enviar solicitud</a>
            </p>
            <div class="clearfix"></div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts combine=true
        '@typeahead_js' 
        '@pDevPracticasBundle/Resources/public/js/supervisor.js'
        '@pDevPracticasBundle/Resources/public/js/contacto2.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript" src="{{ asset('/externals/handlebars-v2.0.0.js') }}"></script>
    <script>
        var fechaIn = $('input#pdev_practicasbundle_practicatype_fechaInicio');
        var duracionCantidad = $('input#pdev_practicasbundle_practicatype_duracionCantidad');    
        var duracionUnidad = $('#pdev_practicasbundle_practicatype_duracionUnidad');    
        
        {% if form.organizacion is defined %}
        var organizacionId = $("#pdev_practicasbundle_practicatype_organizacion");
        var divPosition = organizacionId.offset();
        
        $('.typeahead').typeahead('destroy');
        
        var organizaciones = new Bloodhound({
            datumTokenizer: function(organizaciones) {
                return Bloodhound.tokenizers.whitespace(organizaciones.value);
            },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: '{{ path("practicas_organizacion_json") }}',
        });
         
        organizaciones.clearPrefetchCache();
        organizaciones.initialize();
         
        $('#remote .typeahead').typeahead(null, {
            name: 'best-pictures',
            displayKey: 'value',
            valueKey: 'id',
            source: organizaciones.ttAdapter(),
            templates: {
                empty: [
                '<div class="empty-message">',
                'No hay organizaciones registradas',
                '</div>'
                ].join('\n'),
                suggestion: Handlebars.compile('{% raw %}<strong>{{value}}</strong>{% endraw %}')
            } 
        }); 
        
        var numSelectedHandler = function (eventObject, suggestionObject, suggestionDataset) {
            organizacionId.val(suggestionObject.id);
        };

        $('#remote .typeahead').on('typeahead:selected', numSelectedHandler);
        $('#remote .typeahead').on('typeahead:opened', function(){
            $(this).val("");
            organizacionId.val("");
            $(".error1").hide();
        });
        $('#remote .typeahead').on('typeahead:closed', function(){
            if($('.tt-suggestion').length === 0){
                $(this).val("");;
            }
        });
        $('#remote .typeahead').on('keyup', function () {
            if($('.tt-suggestion').length === 0){
                organizacionId.val("");
            }
        });
        
        $("#form_practica").submit(function( event ) {
            if($('#remote .typeahead').typeahead('val') == "")
                organizacionId.val("");    
        
            if(organizacionId.val() != "" ) {
                return;
            }
            $(".error1").text("Ingrese una organización").show();
            $('html, body').animate({scrollTop: divPosition.top}, "slow");
            event.preventDefault();
        });
        {% endif %}
        
        jQuery(document).ready(function() {
            daysBetween();
            $(".date").each(function( index ) {
                $(this).datetimepicker({
                  pickTime: false
                }).on('dp.change', daysBetween);
            });
            $("#pdev_practicasbundle_practicatype_duracionCantidad").change(daysBetween);
            $("#pdev_practicasbundle_practicatype_duracionUnidad").change(daysBetween);
        });
        
        var daysBetween = function () 
        {
            var startDate = parseDate(fechaIn.val()); 
            var dCantidad = duracionCantidad.val();
            var dUnidad = duracionUnidad.val();
            var days = [], current = startDate, endDate = startDate;
            
            if(dUnidad == "días")
                endDate = new Date(startDate.getTime() + dCantidad * (24 * 60 * 60 * 1000));
            else if(dUnidad == "semanas")
                endDate = new Date(startDate.getTime() + 7 * dCantidad * (24 * 60 * 60 * 1000));
            else if(dUnidad == "meses")
                endDate = new Date(startDate.getTime() + 30 * dCantidad * (24 * 60 * 60 * 1000));
            
            while(current <= endDate) {
                if(days[current.getDay()] == undefined)
                    days[current.getDay()] = 1;
                else
                    days[current.getDay()]++;
                current = new Date(current.getTime() + (24 * 60 * 60 * 1000));
                
            }
            
            if(isNaN(endDate.getTime()) === false && dCantidad != '')
                $("#endDate").html("Fecha estimada de término: " + endDate.toLocaleDateString());
        };
        
        var parseDate = function (datestr)//dd-mm-yyyy
        {
            var datearr = datestr.split('-');
            return new Date(parseInt(datearr[2]), parseInt(datearr[1]-1), parseInt(datearr[0]));
        };
    </script>
{% endblock %}
