{% extends 'pDevPracticasBundle::layout.html.twig' %}

{%block breadcrumb%}
{{parent()}}
{%endblock%}

{% block notificacion %} 
    {{ parent() }}
    <div class="alert alert-success">
        <p>Esta práctica te la recomendó <em>Nombre Apellido (rol)</em></p>
    </div>
{% endblock %}

{%block header%}{{ entity.organizacionAlias.nombre }}{%endblock%}
{%block lead%}{{ entity.tipo }}{%endblock%}

{% block sidebar %}

    {% if app.user.hasPersona('TYPE_ALUMNO') %}
    <div class="alert alert-info">
        <a href="">Postula a esta práctica <span class="glyphicon glyphicon-share-alt pull-right"></span></a>
    </div>
    
    <div class="alert alert-info">
        <a href="">Recomienda esta práctica <span class="glyphicon glyphicon glyphicon-envelope pull-right"></span></a>
    </div>
    {% endif %}
    
    <h3>Empresas relacionadas</h3>
    <ul>
        <li><a href="perfil-empresa-pa-estudiante.php">Nombre de la Empresa</a></li>
        <li><a href="perfil-empresa-pa-estudiante.php">Nombre de la Empresa</a></li>
        <li><a href="perfil-empresa-pa-estudiante.php">Nombre de la Empresa</a></li>
    </ul>
    
    {% if isCoordinacion %}
    <div id="form_ordenar" class="well clearfix no-margin">
        {% if app.user.id == entity.creador.id %}
        <div class="btn-group">
            <a href="{{ path('practicas_edit', { 'id': entity.id }) }}"  class="pull-left btn btn-primary">
                <span class="glyphicon glyphicon-edit"></span> Modificar
            </a>
            <a href="#form_delete"  class="pull-left btn btn-primary submitform">
                <span class="glyphicon glyphicon-remove"></span> Eliminar
            </a>
        </div>
        {% endif %}
        <div class="btn-group">
            <a href="{{ path('practicas_estado', { 'id': entity.id }) }}"  class="pull-left btn btn-primary onmodal">
                <span class="glyphicon glyphicon-adjust"></span> Cambiar estado
            </a>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    <p>{{ entity.descripcion }}</p>

    <h4>Detalles</h4>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Dirección</td>
                    <td>{{ entity.contacto.direccionCalle }} ·  <a target="_blank" href="https://www.google.cl/maps/place/Antonio+Bellet+224/@-33.42764,-70.617502,17.08z/data=!4m7!1m4!3m3!1s0x9662cf63bd1147f9:0x75439dce5e789b17!2sAntonio+Bellet+224!3b1!3m1!1s0x9662cf63bd1147f9:0x75439dce5e789b17">Ver mapa <span class="glyphicon glyphicon-map-marker"></span></a></td>
                </tr>
                <tr>
                    <td>Habilidades necesarias</td>
                    <td>{{ entity.manejoSoftware }}</td>
                </tr>
                <tr>
                    <td>Jornadas</td>
                    <td>{{ entity.jornadas }}</td>
                </tr>
                <tr>
                    <td>Fecha de inicio</td>
                    <td>{{ entity.fechaInicio|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <td>Fecha de término</td>
                    <td>{{ entity.fechaTermino|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <td>Interés</td>
                    <td>{{ entity.interes }}</td>
                </tr>
                <tr>
                    <td>Cupos</td>
                    <td>{{ entity.cupos }}</td>
                </tr>
                <tr>
                    <td>¿Entrevista / presentación de portafolio?</td>
                    <td>{{ entity.entrevista }}</td>
                </tr>
                <tr>
                    <td>Remuneracion</td>
                    <td>{{ entity.remuneraciones }}</td>
                </tr>
                <tr>
                    <td>Beneficios</td>
                    <td>{{ entity.beneficios }}</td>
                </tr>
                <tr>
                    <td>Evaluación</td>
                    <td><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></td>
                </tr>
            </tbody>
        </table>
    </div><!--/table-responsive-->
    
    <h4>Información de la empresa/organización</h4>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Nombre</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Rubro</td>
                    <td>{{ entity.organizacionAlias.organizacion.rubro }}</td>
                </tr>
                <tr>
                    <td>Descripción</td>
                    <td>{{ entity.organizacionAlias.organizacion.descripcion }}</td>
                </tr>
                <tr>
                    <td>País</td>
                    <td>{{ entity.organizacionAlias.organizacion.pais }}</td>
                </tr>
                <tr>
                    <td>Web</td>
                    <td>{{ entity.organizacionAlias.organizacion.web }}</td>
                </tr>
                <tr>
                    <td>Número de personas que trabajan en la organización</td>
                    <td>{{ entity.organizacionAlias.organizacion.personasTotal }}</td>
                </tr>
                <tr>
                    <td>Antiguedad</td>
                    <td>{{ entity.organizacionAlias.organizacion.antiguedad }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <h4>Información de contacto</h4>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Nombre</td>
                    <td>{{ entity.contacto.nombreCompleto }}</td>
                </tr>
                <tr>
                    <td>Dirección</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Teléfono</td>
                    <td>{{ entity.contacto.numeroTelefono }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ entity.contacto.email }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <h4>Estado de la práctica</h4>
    <div id="estado" class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Estado</td>
                    <td>{% if entity.estado == 'estado.pendiente' %}Pendiente de aprobación
                        {% elseif entity.estado == 'estado.aprobada' %}Aprobada
                        {% elseif entity.estado == 'estado.rechazada' %}Rechazada
                        {% elseif entity.estado == 'estado.publicada' %}Publicada
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Observaciones</td>
                    <td>{% if entity.estadoObservaciones %} {{ entity.estadoObservaciones }}{% else %}Sin observaciones{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <form class="hide" id="form_delete" action="{{ path('practicas_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button id="_submit" type="submit">Eliminar</button>
    </form>
        
{% endblock %}


