{% extends 'pDevPracticasBundle::layout.html.twig' %}

{%block breadcrumb%}
    {{ parent() }}
    <li><a href="{{ path('practicas') }}">Prácticas</a></li>
    <li><a href="{{ path('practicas_show', { 'id': entity.id }) }}" class="active">{{ entity }}</a></li>
{%endblock%}

{% block notificacion %} 
    {{ parent() }}
    <div class="alert alert-success">
        <p>Esta práctica te la recomendó <em>Nombre Apellido (rol)</em></p>
    </div>
{% endblock %}

{% block header %}{{ entity.organizacionAlias.nombre }}{%endblock%}
{% block lead %}{{ entity.tipo }}{%endblock%}

{% block sidebar %}
    {% if app.user.hasPersona('TYPE_ALUMNO') %}
    {% if alumnoPractica == false and entity.estado == 'estado.aprobada' %}
    <div class="alert alert-info">
        <a href="{{ path('practicas_alumno_new_datos_source', {'id': entity.id}) }}">Postula a esta práctica <span class="glyphicon glyphicon-share-alt pull-right"></span></a>
    </div>
    {% elseif alumnoPractica %}
    <div class="alert alert-info">
        Práctica postulada. <a href="{{ path('practicas_alumno_show', {'id': alumnoPractica.id }) }}">Ver detalles</a>
    </div>
    {% endif %}
    {% else %}
    <h3>Estado de la práctica</h3>
    <div id="estado" class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td width="35%">Estado</td>
                    <td>{% if entity.estado == 'estado.pendiente' %}<span class="label label-default">Pendiente de aprobación
                        {% elseif entity.estado == 'estado.aprobada' %}<span class="label label-success">Aprobada
                        {% elseif entity.estado == 'estado.rechazada' %}<span class="label label-danger">Rechazada
                        {% elseif entity.estado == 'estado.finalizada' %}<span class="label label-default">Finalizada
                        {% endif %}</span>
                    </td>
                </tr>
                <tr>
                    <td>Observaciones</td>
                    <td>{% if entity.estadoObservaciones %} {{ entity.estadoObservaciones }}{% else %}Sin observaciones{% endif %}</td>
                </tr>
                <tr>
                    <td>Postulantes</td>
                    <td>{{ entity.postulantes|length }}</td>
                </tr>
                <tr>
                    <td>Aceptados</td>
                    <td>{{ entity.aceptados|length }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}
    
    {% if (isCoordinacion or isContacto) and entity.estado != 'estado.finalizada' %}
    <div id="form_ordenar" class="well clearfix no-margin">
        <div class="btn-group">
            <a href="{{ path('practicas_edit', { 'id': entity.id }) }}"  class="pull-left btn btn-primary">
                <span class="glyphicon glyphicon-edit"></span> Modificar
            </a>
            <a href="#form_delete"  class="pull-left btn btn-danger submitform">
                <span class="glyphicon glyphicon-remove"></span> Eliminar
            </a>
        {% if isCoordinacion %}
            {% if entity.estado == 'estado.pendiente' %}
            <a href="{{ path('practicas_estado', { 'id': entity.id }) }}"  class="pull-left btn btn-success onmodal">
                <span class="glyphicon glyphicon-adjust"></span> Responder solicitud
            </a>
            {% else %}
            <a href="{{ path('practicas_estado', { 'id': entity.id }) }}"  class="pull-left btn btn-primary onmodal">
                <span class="glyphicon glyphicon-adjust"></span> Cambiar estado
            </a>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    <p>{{ entity.descripcion }}</p>

    <h4>Detalles</h4>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td width="35%">Habilidades necesarias</td>
                    <td>{{ entity.manejoSoftware }}</td>
                </tr>
                <tr>
                    <td>Jornadas</td>
                    <td>{{ entity.jornadas }}</td>
                </tr>
                <tr>
                    <td>Fecha de inicio</td>
                    <td>{{ entity.fechaInicio|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <td>Fecha de término</td>
                    <td>{{ entity.fechaTermino|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <td>Interés</td>
                    <td>{{ entity.interes }}</td>
                </tr>
                <tr>
                    <td>Cupos</td>
                    <td>{{ entity.cupos }}</td>
                </tr>
                <tr>
                    <td>¿Entrevista / presentación de portafolio?</td>
                    <td>{{ entity.entrevista }}</td>
                </tr>
                <tr>
                    <td>Remuneracion</td>
                    <td>{{ entity.remuneraciones }}</td>
                </tr>
                <tr>
                    <td>Beneficios</td>
                    <td>{{ entity.beneficios }}</td>
                </tr>
            </tbody>
        </table>
    </div><!--/table-responsive-->
    
    <h4>Información de la empresa/organización</h4>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td width="35%">Nombre</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Rubro</td>
                    <td>{{ entity.organizacionAlias.organizacion.rubro }}</td>
                </tr>
                <tr>
                    <td>Descripción</td>
                    <td>{{ entity.organizacionAlias.organizacion.descripcion }}</td>
                </tr>
                <tr>
                    <td>País</td>
                    <td>{{ entity.organizacionAlias.organizacion.pais }}</td>
                </tr>
                <tr>
                    <td>Web</td>
                    <td>{{ entity.organizacionAlias.organizacion.web }}</td>
                </tr>
                <tr>
                    <td>Número de personas que trabajan en la organización</td>
                    <td>{{ entity.organizacionAlias.organizacion.personasTotal }}</td>
                </tr>
                <tr>
                    <td>Antiguedad</td>
                    <td>{{ entity.organizacionAlias.organizacion.antiguedad }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <h4>Información de contacto</h4>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td width="35%">Nombre</td>
                    <td>{{ entity.contacto.nombreCompleto }}</td>
                </tr>
                <tr>
                    <td>Dirección</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Teléfono</td>
                    <td>{{ entity.contacto.numeroTelefono }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ entity.contacto.email }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    {% if entity.estado != "estado.finalizada" %}
    <form class="hide" id="form_delete" action="{{ path('practicas_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button id="_submit" type="submit">Eliminar</button>
    </form>
    {% endif %}
        
{% endblock %}


