{% extends 'pDevPracticasBundle::layout.html.twig' %}

{%block breadcrumb%}
    {{ parent() }}
    <li><a href="{{ path('practicas') }}">Prácticas</a></li>
    <li><a href="{{ path('practicas_show', { 'id': entity.id }) }}" class="active">{{ entity }}</a></li>
{%endblock%}

{% block notificacion %} 
    {{ parent() }}
    <div class="alert alert-success">
        <p>Esta práctica te la recomendó <em>Nombre Apellido (rol)</em></p>
    </div>
{% endblock %}

{% block header %}{{ entity.nombre }}{%endblock%}
{% block lead %}{{ entity.organizacion }}{%endblock%}

{% block sidebar %}
    {% if app.user.hasPersona('TYPE_ALUMNO') %}
    {% if alumnoPractica == false and entity.estado == 'estado.aprobada' %}
    <div class="alert alert-info">
        <a href="{{ path('practicas_alumno_new_datos_practica', {'practicaId': entity.id}) }}">Postula a esta práctica <span class="glyphicon glyphicon-share-alt pull-right"></span></a>
    </div>
    {% elseif alumnoPractica %}
        {% if alumnoPractica.estado == 'estado.postulado' %}
        <div class="alert alert-warning">
            Práctica postulada.
        </div>
        {% elseif alumnoPractica.estado == 'estado.aceptada.contacto' %}
        <div class="alert alert-warning">
            Práctica aceptada.
            <a href="{{ path('practicas_alumno_new_datos_source', { 'id': entity.id }) }}" class="pull-right btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span> Armar plan de practica
            </a>
        </div>
        {% endif %}
    {% endif %}
    {% else %}
    <h3>Estado de la práctica</h3>
    <div id="estado" class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td width="35%">Estado</td>
                    <td>
                        {% include 'pDevPracticasBundle:Practica:estadoLabel.html.twig' %}
                    </td>
                </tr>
                <tr>
                    <td>Observaciones</td>
                    <td>{% if entity.estadoObservaciones %} {{ entity.estadoObservaciones }}{% else %}Sin observaciones{% endif %}</td>
                </tr>
                <tr>
                    <td>Postulantes</td>
                    <td>{{ entity.postulantes|length }}</td>
                </tr>
                <tr>
                    <td>Aceptados</td>
                    <td>{{ entity.aceptados|length }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}
    
    {% if isContacto and entity.postulantes|length > 0 %}
    <h3>Postulantes</h3>
    <table class="table table-striped">
        <tbody>
            {% for postulante in entity.postulantes %}
            <tr>
                <td>Nombre</td>
                <td><a href="{{ path('persona_show_modal', { 'id': postulante.alumno.id }) }}" class="onmodal">{{ postulante.alumno.nombreCompleto }}</a></td>
                {% if entity.estado != 'estado.finalizada' %}
                <td>
                    <a class="btn btn-success onmodal" href="{{ path('practicas_alumno_postulante_aceptar', {'id': postulante.id}) }}">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    
    {% if (isCoordinacion or isContacto) and entity.aceptados|length > 0 %}
    <h3>Aceptados</h3>
    <table class="table table-striped">
        <tbody>
            {% for aceptado in entity.aceptados %}
            <tr>
                <td>Nombre</td>
                <td><a href="{{ path('persona_show_modal', { 'id': aceptado.alumno.id }) }}" class="onmodal">{{ aceptado.alumno.nombreCompleto }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    
    {% if (isCoordinacion or isContacto) and entity.estado != 'estado.finalizada' %}
    <div id="form_ordenar" class="well clearfix no-margin">
        <div class="btn-group">
            {% if entity.estado != 'estado.rechazada' %}
            <a href="{{ path('practicas_edit', { 'id': entity.id }) }}"  class="pull-left btn btn-primary">
                <span class="glyphicon glyphicon-edit"></span> Modificar
            </a>
            {% endif %}
            <a href="{{ path('practicas_delete_modal', { 'id': entity.id }) }}" class="pull-left btn btn-danger onmodal">
                <span class="glyphicon glyphicon-remove"></span> Eliminar
            </a>
        {% if isCoordinacion %}
            {% if entity.estado == 'estado.pendiente' %}
            <a href="{{ path('practicas_estado', { 'id': entity.id }) }}"  class="pull-left btn btn-success onmodal">
                <span class="glyphicon glyphicon-adjust"></span> Responder solicitud
            </a>
            {% else %}
            <a href="{{ path('practicas_estado', { 'id': entity.id }) }}"  class="pull-left btn btn-primary onmodal">
                <span class="glyphicon glyphicon-adjust"></span> Cambiar estado
            </a>
            {% endif %}
        {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    <h4>Detalles</h4>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td width="35%">Tipo</td>
                    <td>{{ entity.tipo }}</td>
                </tr>
                <tr>
                    <td>Descripción</td>
                    <td>{{ entity.descripcion is empty ? 'Sin descripción' : entity.descripcion|nl2br }}</td>
                </tr>
                <tr>
                    <td>Habilidades necesarias</td>
                    <td>{{ entity.manejoSoftware is empty ? 'Sin requerimientos' : entity.manejoSoftware }}</td>
                </tr>
                <tr>
                    <td>Jornadas</td>
                    <td>{{ entity.jornadas }}</td>
                </tr>
                <tr>
                    <td>Fecha de inicio</td>
                    <td>{{ entity.fechaInicio|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <td>Fecha de término</td>
                    <td>{{ entity.fechaTermino|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <td>Interés</td>
                    <td>{{ entity.interes is empty ? 'Sin detalle' : entity.interes }}</td>
                </tr>
                <tr>
                    <td>Cupos</td>
                    <td>{{ entity.cupos }}</td>
                </tr>
                <tr>
                    <td>¿Entrevista / presentación de portafolio?</td>
                    <td>{{ entity.entrevista is empty ? 'Sin entrevista/portafolio' : 'Se requiere entrevista/portafolio' }}</td>
                </tr>
                <tr>
                    <td>Remuneracion</td>
                    <td>{{ entity.remuneraciones is empty ? 'Sin detalle' : entity.remuneraciones }}</td>
                </tr>
                <tr>
                    <td>Beneficios</td>
                    <td>{{ entity.beneficios is empty ? 'Sin beneficios especificados' : entity.beneficios }}</td>
                </tr>
            </tbody>
        </table>
    </div><!--/table-responsive-->
    
    <h4>Información de la empresa/organización</h4>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td width="35%">Nombre</td>
                    <td>{{ entity.organizacion.nombre }}</td>
                </tr>
                <tr>
                    <td>Rubro</td>
                    <td>{{ entity.organizacion.rubro }}</td>
                </tr>
                <tr>
                    <td>Descripción</td>
                    <td>{{ entity.organizacion.descripcion }}</td>
                </tr>
                <tr>
                    <td>País</td>
                    <td>{{ entity.organizacion.pais }}</td>
                </tr>
                <tr>
                    <td>Web</td>
                    <td>{{ entity.organizacion.web }}</td>
                </tr>
                <tr>
                    <td>Número de personas que trabajan en la organización</td>
                    <td>{{ entity.organizacion.personasTotal }}</td>
                </tr>
                <tr>
                    <td>Antiguedad</td>
                    <td>{{ entity.organizacion.antiguedad }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <h4>Información de contacto</h4>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td width="35%">Nombre</td>
                    <td>{{ entity.contacto.nombreCompleto }}</td>
                </tr>
                <tr>
                    <td>Dirección</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Teléfono</td>
                    <td>{{ entity.contacto.numeroTelefono }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ entity.contacto.email }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    {% if entity.estado != "estado.finalizada" %}
    <form class="hide" id="form_delete" action="{{ path('practicas_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button id="_submit" type="submit">Eliminar</button>
    </form>
    {% endif %}
        
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
{% endblock %}
