<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Pontificia Universidad Católica de Chile - {%block title%}Escuela de Diseño{%endblock%}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ asset('/css/bootstrap2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/bootstrap-glyphicons.css') }}">
        <link rel="shortcut icon" href="{{ asset('/favicon.ico') }}" />


        <style>
             body {
                height: 100%;
                background-color:#eeeeee;
              }
            .wrapper {
                min-height: 100%;
                background-color:#ffffff;
                /* equal to footer height */
                /*margin-bottom: -200px; */
              }
            .wrapper:after {
                content: "";
                display: block;
              }
            #footer {
                height:200px;
                }
            .nav1 {
                background-color: #2f549e;
                width: 100%;
                height: 24px;
                position: relative;
                border-radius: 0px 0px 5px 0px;
                }
            
        </style>
        <link rel="stylesheet" href="{{ asset('/css/bootstrap-responsive.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/theme.css') }}">

        <script src="{{ asset('/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
        <script src="{{ asset('/js/vendor/jquery-1.10.1.min.js') }}"></script>
        <script src="{{ asset('/js/vendor/bootstrap.min.js') }}"></script>
        <script src="{{ asset('/js/bootstrap-datetimepicker.min.js') }}"></script>
        <script src="{{ asset('/js/main.js') }}"></script>
        {% block javascript%}
        {% endblock %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please upgrade your browser or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

<!-- Wrapper
    ================================================== -->

<div class="wrapper">
  <!-- Navbar
    ================================================== -->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
            <div class="brand"><a href="/"><img border="0" alt="uc" src="{{ asset('/img/UCcolor.png') }}"></a></div>
          <div class="nav-banner"></div>
          <div class="nav-banner-caption"></div>
          <div class="nav1" id="main-menu">

           <ul class="nav nav-internal pull-right" id="main-menu-right">
             <li><a href="https://sso.uc.cl/cas/login?service=https://portaluc.puc.cl/uPortal/Login" target="_blank">Mi Portal UC</a></li>
             <li><a href="https://webaccess.uc.cl/" target="_blank">Correo UC</a></li>
           </ul>
           <ul class="nav pull-right" id="main-menu-left">
               <li class="dropdown" id="preview-menu">
                   <a class="dropdown-toggle" data-toggle="dropdown" href="#">La Universidad <b class="caret"></b></a>
                   <ul class="dropdown-menu">
                     <li>
                       <a href="/es/la-universidad/historia">Historia</a>
                       </li>
                       <li>
                       <a href="http://rectoria.uc.cl/" target="_blank">Rectoría</a>
                       </li>
                       <li>
                       <a href="/es/la-universidad/autoridades">Autoridades</a>
                       </li>
                       <li>
                       <a href="http://secretariageneral.uc.cl" target="_blank">Secretaría General</a>
                       </li>
                       <li>
                       <a href="http://www.pastoraluc.cl/web/index/">Pastoral UC</a>
                       </li>
                       <li>
                       <a href="http://observatorionuevaevangelizacion.uc.cl/">Nueva Evangelización</a>
                       </li>
                       <li>
                       <a href="/es/la-universidad/organizacion">Organización</a>
                       </li>
                       <li>
                       <a href="http://www.uc.cl/webpuc/site/launiversidad/autoridades/secretariageneral/pdf/reglamentos/declaraciondeprincipios.pdf">Principios UC</a>
                       </li>
                       <li>
                       <a href="/images/pdf/estatutos_generales.pdf">Estatutos UC</a>
                       </li>
                       <li>
                       <a href="/es/la-universidad/campus">Hechos y cifras</a>
                       </li>
                       <li>
                       <a href="/es/la-universidad/premios-nacionales">Premios Nacionales</a>
                       </li>
                       <li>
                       <a href="http://mecesup.uc.cl/">Mecesup</a>
                       </li>
                       <li>
                       <a href="http://www.uc.cl/index.php?option=com_content&amp;view=category&amp;id=1&amp;Itemid=147&amp;lang=es">Noticias UC</a>
                       </li>
                       <li class="divider"></li>
                       <li>
                       <a href="http://www.uc.cl/es/organizaciones-vinculadas">Organizaciones Vinculadas</a>
                       </li>
                   </ul>
               </li>
               <li><a target="_blank" href="http://fadeu.uc.cl">Facultad de Arquitectura, Diseño y Estudios Urbanos</a></li>
               
               <li><a target="_blank" href="http://sibuc.uc.cl/">Bibliotecas</a></li>
           </ul>
          </div>
          <div class="nav2">
              <div class="nav-collapse collapse" id="main-menu-2">
                    
                    <ul class="nav subnav2 pull-right" id="main-menu-2-right">
                    {%block subnav%}
                        
                     {% if app.user is defined and app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li>
                          <a href="#">{{app.user.nombres}} {{app.user.apellidoPaterno}} {{app.user.apellidoMaterno}} ({{app.user.username}})</a>
                        </li>
                        <li>
                          <a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-margin-right glyphicon-off"></span>Cerrar sesión</a>
                        </li>
                     {% else %}
                        <li>
                          <a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-margin-right glyphicon-circle-arrow-right"></span>Ingresar</a>
                        </li>
                     {% endif %}


                     {%endblock%}
                   </ul>
              </div>
          </div> 
         
        </div>
      </div>
</div>

    <div class="container" id="containerloading" style="height:1000px;">Por favor espere...</div>
    <div class="container hide" id="container">
        
        <ul class="nav nav-left">
         {%block navleft%}
                {% if app.user is defined and app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ render(controller('pDevUserBundle:Menu:menu')) }}
                {% endif %}
          {%endblock%}
        </ul>
        <div class="content">
            <ul class="breadcrumb">
                {%block breadcrumb%}
                <li class="active"><span class="glyphicon glyphicon-margin-right glyphicon-chevron-right"></span><a href="{{ path('default_inicio') }}">Sistema de gestión</a> </li>
                {%endblock%}
            </ul>
            <script type="text/javascript">
                p_checkBrowserAlert();
            </script>
            
                {%block notification%}
            {% if app.user is defined and app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ render(controller('pDevUserBundle:Notificacion:notificaciones')) }}
                {% endif %}
            
                {%endblock%}
            <header class="page-header">
                <h1>{%block header%}Titulo{%endblock%}</h1>
                <p class="lead">{%block lead%}Lead{%endblock%}</p>
            </header>
            
            <div class="row">
            {%block content%}
            {%endblock%}
            </div>

        </div>
     
    <div class="clearfix" style="clear:both;"></div>
    </div><!-- /container -->

    
    
<!-- Footer
      ================================================== -->
<div class="navfooter">
      <footer id="footer">
        <div class="container">
        <p class="pull-right"><a href="#top">Volver arriba</a></p>
        
        
        
        <address>
            <strong>Escuela de Diseño UC</strong><br>
            Los Navegantes 1941, Providencia, Chile (<a href="http://www.uc.cl/es/mapas">mapa</a>)<br>
            Fono: +56 2 3545534<br>
            Email:
            <SCRIPT TYPE="text/javascript">
                <!-- 
                var b='@';
                var a='diseno';
                a+=b+'uc.cl';
                var c='<a href="mailto:'+a+'">'+a+'</a>';
                document.write(c);
                 //-->
            </script>
        </address>
        
        </div>
      </footer>
</div>

    <div class="clearfix"></div>
</div>

<!-- Modal -->
<div id="defaultModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
    <p>One fine body…</p>
    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
    </div>
</div>
{% block javascriptload %}
{% endblock %}
    <script type="text/javascript">
        $('#containerloading').hide();
        $('#container').show();
    </script>
  </body>
</html>

